<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!-- Change here to your correct connection string -->
    <add name="DbContext" connectionString="data source=.\sqlexpress;initial catalog=HangfireDB;persist security info=True;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>